# **EDA and Data cleaning intermediate testing notebook.**
To understand what data cleaning measures need to be undertaken and automated.

# Downloading the store sales dataset from Kaggle API

In [1]:
!pip install -q kaggle

# Download the dataset
!kaggle competitions download -c store-sales-time-series-forecasting

# Unzip
!unzip -q store-sales-time-series-forecasting.zip -d store-sales-time-series-forecasting

Downloading store-sales-time-series-forecasting.zip to /Users/bilalkhokhar/Desktop/asadrkhokar/data-science-portfolio-1/store-sales-forecasting
  0%|                                               | 0.00/21.4M [00:00<?, ?B/s]
100%|███████████████████████████████████████| 21.4M/21.4M [00:00<00:00, 974MB/s]

# Loading libraries and data

In [2]:
# Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import numpy as np
import random

In [3]:
#Loading data as pandas dataframes
train_df = pd.read_csv('store-sales-time-series-forecasting/train.csv')
stores_df = pd.read_csv('store-sales-time-series-forecasting/stores.csv')
transactions_df = pd.read_csv('store-sales-time-series-forecasting/transactions.csv')
oil_df = pd.read_csv('store-sales-time-series-forecasting/oil.csv')
holidays_events_df = pd.read_csv('store-sales-time-series-forecasting/holidays_events.csv')
test_df = pd.read_csv('store-sales-time-series-forecasting/test.csv')

# Checking counts, data types and statistics for each dataframe and column

In [4]:

df_list = [train_df, test_df, stores_df, transactions_df, oil_df, holidays_events_df]
df_names = ['train_df', 'test_df', 'stores_df', 'transactions_df', 'oil_df', 'holidays_events_df']

def show_df_summary(df, name):
    print(f"\n{'-'*20} {name} {'-'*20}")
    print("Info:")
    df.info()
    print("\nDescribe:")
    display(df.describe(include='all').T)  # Transposed for readability, include all types

df_list = [train_df, test_df, stores_df, transactions_df, oil_df, holidays_events_df]
df_names = ['train_df', 'test_df', 'stores_df', 'transactions_df', 'oil_df', 'holidays_events_df']

for df, name in zip(df_list, df_names):
    show_df_summary(df, name)

-------------------- train_df --------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

Describe:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,3000888.0,NaN,NaN,NaN,1500443.5,866281.891642,0.0,750221.75,1500443.5,2250665.25,3000887.0
date,3000888,1684,2013-01-01,1782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
store_nbr,3000888.0,NaN,NaN,NaN,27.5,15.585787,1.0,14.0,27.5,41.0,54.0
family,3000888,33,AUTOMOTIVE,90936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sales,3000888.0,NaN,NaN,NaN,357.775749,1101.997721,0.0,0.0,11.0,195.84725,124717.0
onpromotion,3000888.0,NaN,NaN,NaN,2.60277,12.218882,0.0,0.0,0.0,0.0,741.0

-------------------- test_df --------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           28512 non-null  int64
 1   date         28512 non-null  object
 2   store_nbr    28512 non-null  int64
 3   family       28512 non-null  object
 4   onpromotion  28512 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.1+ MB

Describe:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,28512.0,NaN,NaN,NaN,3015143.5,8230.849774,3000888.0,3008015.75,3015143.5,3022271.25,3029399.0
date,28512,16,2017-08-16,1782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
store_nbr,28512.0,NaN,NaN,NaN,27.5,15.586057,1.0,14.0,27.5,41.0,54.0
family,28512,33,AUTOMOTIVE,864,NaN,NaN,NaN,NaN,NaN,NaN,NaN
onpromotion,28512.0,NaN,NaN,NaN,6.965383,20.683952,0.0,0.0,0.0,6.0,646.0

-------------------- stores_df --------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store_nbr  54 non-null     int64
 1   city       54 non-null     object
 2   state      54 non-null     object
 3   type       54 non-null     object
 4   cluster    54 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB

Describe:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
store_nbr,54.0,NaN,NaN,NaN,27.5,15.732133,1.0,14.25,27.5,40.75,54.0
city,54,22,Quito,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,54,16,Pichincha,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type,54,5,D,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cluster,54.0,NaN,NaN,NaN,8.481481,4.693395,1.0,4.0,8.5,13.0,17.0

-------------------- transactions_df --------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  object
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.9+ MB

Describe:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
date,83488,1682,2017-08-15,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
store_nbr,83488.0,NaN,NaN,NaN,26.939237,15.608204,1.0,13.0,27.0,40.0,54.0
transactions,83488.0,NaN,NaN,NaN,1694.602158,963.286644,5.0,1046.0,1393.0,2079.0,8359.0

-------------------- oil_df --------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB

Describe:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
date,1218,1218,2013-01-01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dcoilwtico,1175.0,NaN,NaN,NaN,67.714366,25.630476,26.19,46.405,53.19,95.66,110.62

-------------------- holidays_events_df --------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB

Describe:

            count unique         top freq
date          350    312  2014-06-25    4
type          350      6     Holiday  221
locale        350      3    National  174
locale_name   350     24     Ecuador  174
description   350    103    Carnaval   10
transferred   350      2       False  338

| Dataset              | Data cleaning needed?                                               |
| -------------------- | ------------------------------------------------------------------- |
| train\_df            | Convert `date` to datetime                                          |
| test\_df            | Convert `date` to datetime                                          |
| stores\_df           | Check categorical consistency                                       |
| transactions\_df     | Convert `date` to datetime                                          |
| oil\_df              | Convert `date` to datetime; handle missing in `dcoilwtico`          |
| holidays\_events\_df | Convert `date` to datetime; check duplicate dates (multiple events) |

# Data Cleaning and Preperation

In [5]:
# Convert date columns to datetime
train_df['date'] = pd.to_datetime(train_df['date'])
test_df['date'] = pd.to_datetime(test_df['date'])
transactions_df['date'] = pd.to_datetime(transactions_df['date'])
oil_df['date'] = pd.to_datetime(oil_df['date'])
holidays_events_df['date'] = pd.to_datetime(holidays_events_df['date'])

In [6]:
# Check missing values
print(oil_df.isnull().sum())

date           0
dcoilwtico    43
dtype: int64

In [7]:
# Forward fill missing oil prices (commonly used in time series when price data is missing)
oil_df['dcoilwtico'] = oil_df['dcoilwtico'].ffill()

In [8]:
# If first value(s) are still NaN after ffill, can backward fill
oil_df['dcoilwtico'] = oil_df['dcoilwtico'].bfill()

In [9]:
# Check duplicated rows
print("train_df duplicated rows:", train_df.duplicated().sum())
print("test_df duplicated rows:", test_df.duplicated().sum())
print("transactions_df duplicated rows:", transactions_df.duplicated().sum())
print("oil_df duplicated rows:", oil_df.duplicated().sum())
print("holidays_events_df duplicated rows:", holidays_events_df.duplicated().sum())
print("stores_df duplicated rows:", stores_df.duplicated().sum())

train_df duplicated rows: 0
test_df duplicated rows: 0
transactions_df duplicated rows: 0
oil_df duplicated rows: 0
holidays_events_df duplicated rows: 0
stores_df duplicated rows: 0

In [10]:
# Unique values in categorical columns
print("stores_df city:", stores_df['city'].unique())
print("stores_df state:", stores_df['state'].unique())
print("stores_df type:", stores_df['type'].unique())
print("holidays_events_df type:", holidays_events_df['type'].unique())
print("holidays_events_df locale:", holidays_events_df['locale'].unique())

stores_df city: ['Quito' 'Santo Domingo' 'Cayambe' 'Latacunga' 'Riobamba' 'Ibarra'
 'Guaranda' 'Puyo' 'Ambato' 'Guayaquil' 'Salinas' 'Daule' 'Babahoyo'
 'Quevedo' 'Playas' 'Libertad' 'Cuenca' 'Loja' 'Machala' 'Esmeraldas'
 'Manta' 'El Carmen']
stores_df state: ['Pichincha' 'Santo Domingo de los Tsachilas' 'Cotopaxi' 'Chimborazo'
 'Imbabura' 'Bolivar' 'Pastaza' 'Tungurahua' 'Guayas' 'Santa Elena'
 'Los Rios' 'Azuay' 'Loja' 'El Oro' 'Esmeraldas' 'Manabi']
stores_df type: ['D' 'B' 'C' 'E' 'A']
holidays_events_df type: ['Holiday' 'Transfer' 'Additional' 'Bridge' 'Work Day' 'Event']
holidays_events_df locale: ['Local' 'Regional' 'National']

In [11]:
# Negative sales?
print("Negative sales count (train_df):", (train_df['sales'] < 0).sum())

Negative sales count (train_df): 0

# Modelling data creation

In [12]:
train_df = train_df.copy()

# Filter or aggregate holidays to avoid multiple rows per date
holidays_events_df_filtered = holidays_events_df[
    (holidays_events_df['locale'] == 'National') & 
    (holidays_events_df['transferred'] == False)
].drop_duplicates('date')

# Drop duplicates in transactions if any
transactions_df = transactions_df.drop_duplicates(subset=['date', 'store_nbr'])

# Joining
train_df = train_df.merge(holidays_events_df_filtered, on='date', how='left')
train_df = train_df.merge(oil_df[['date', 'dcoilwtico']], on='date', how='left')
train_df = train_df.merge(transactions_df, on=['date', 'store_nbr'], how='left')
train_df = train_df.merge(stores_df, on='store_nbr', how='left')

In [13]:
# Fill missing transactions with 0
train_df['transactions'] = train_df['transactions'].fillna(0)

# Fill missing oil prices forward then backward
train_df['dcoilwtico'] = train_df['dcoilwtico'].ffill().bfill()

# Feature Engineering

In [14]:
# Convert categorical columns from holidays/events and stores to category dtype
categorical_cols = ['type', 'locale', 'locale_name', 'description', 'store_nbr', 'city', 'state', 'type_y'] 
for col in categorical_cols:
    if col in train_df.columns:
        train_df[col] = train_df[col].astype('category')

# Extract datetime features from 'date'
train_df['year'] = train_df['date'].dt.year
train_df['month'] = train_df['date'].dt.month
train_df['day'] = train_df['date'].dt.day
train_df['dayofweek'] = train_df['date'].dt.dayofweek
train_df['weekofyear'] = train_df['date'].dt.isocalendar().week.astype(int)
train_df['is_weekend'] = train_df['dayofweek'].isin([5,6]).astype(int)

# Create is_holiday flag from holidays_events_df
holiday_dates = holidays_events_df['date'].unique()
train_df['is_holiday'] = train_df['date'].isin(holiday_dates).astype(int)

# Label encode 'family' (main product category) 
from sklearn.preprocessing import LabelEncoder
le_family = LabelEncoder()
train_df['family_enc'] = le_family.fit_transform(train_df['family'])

# Final check of missing values
print("Missing values per column:")
print(train_df.isnull().sum())

# Display the head of final modelling dataframe
print(train_df.head())

Missing values per column:
id                    0
date                  0
store_nbr             0
family                0
sales                 0
onpromotion           0
type_x          2758536
locale          2758536
locale_name     2758536
description     2758536
transferred     2758536
dcoilwtico            0
transactions          0
city                  0
state                 0
type_y                0
cluster               0
year                  0
month                 0
day                   0
dayofweek             0
weekofyear            0
is_weekend            0
is_holiday            0
family_enc            0
dtype: int64
   id       date store_nbr      family  sales  onpromotion   type_x    locale  \
0   0 2013-01-01         1  AUTOMOTIVE    0.0            0  Holiday  National
1   1 2013-01-01         1   BABY CARE    0.0            0  Holiday  National
2   2 2013-01-01         1      BEAUTY    0.0            0  Holiday  National
3   3 2013-01-01         1   BEVERAGES    0.0            0  Holiday  National
4   4 2013-01-01         1       BOOKS    0.0            0  Holiday  National

  locale_name         description  ... type_y  cluster  year month day  \
0     Ecuador  Primer dia del ano  ...      D       13  2013     1   1
1     Ecuador  Primer dia del ano  ...      D       13  2013     1   1
2     Ecuador  Primer dia del ano  ...      D       13  2013     1   1
3     Ecuador  Primer dia del ano  ...      D       13  2013     1   1
4     Ecuador  Primer dia del ano  ...      D       13  2013     1   1

  dayofweek  weekofyear  is_weekend  is_holiday  family_enc
0         1           1           0           1           0
1         1           1           0           1           1
2         1           1           0           1           2
3         1           1           0           1           3
4         1           1           0           1           4

[5 rows x 25 columns]

In [15]:
# Create lag and rolling features for sales per 'id'
train_df = train_df.sort_values(['id', 'date'])
train_df['sales_lag_7'] = train_df.groupby('id')['sales'].shift(7)
train_df['sales_roll_mean_7'] = train_df.groupby('id')['sales'].transform(lambda x: x.shift(1).rolling(window=7).mean())

# Fill lag/rolling NaNs with 0 or some other strategy
train_df['sales_lag_7'] = train_df['sales_lag_7'].fillna(0)
train_df['sales_roll_mean_7'] = train_df['sales_roll_mean_7'].fillna(0)

# Creating modelling test dataset

In [16]:
test_df = test_df.copy()

# Joining
test_df = test_df.merge(holidays_events_df_filtered, on='date', how='left')
test_df = test_df.merge(oil_df[['date', 'dcoilwtico']], on='date', how='left')
test_df = test_df.merge(transactions_df, on=['date', 'store_nbr'], how='left')
test_df = test_df.merge(stores_df, on='store_nbr', how='left')

test_df['transactions'] = test_df['transactions'].fillna(0)
test_df['dcoilwtico'] = test_df['dcoilwtico'].ffill().bfill()

# Encode 'family' using trained encoder
test_df['family_enc'] = le_family.transform(test_df['family'])

# Extract date features
test_df['year'] = test_df['date'].dt.year
test_df['month'] = test_df['date'].dt.month
test_df['day'] = test_df['date'].dt.day
test_df['dayofweek'] = test_df['date'].dt.dayofweek
test_df['weekofyear'] = test_df['date'].dt.isocalendar().week.astype(int)
test_df['is_weekend'] = test_df['dayofweek'].isin([5,6]).astype(int)
test_df['is_holiday'] = test_df['date'].isin(holiday_dates).astype(int)

# Full modularised data preperation function pipeline

In [17]:
def set_seed(seed=42):
    """Set seed for reproducibility."""
    np.random.seed(seed)
    random.seed(seed)

def load_data(base_path='store-sales-time-series-forecasting'):
    """Load all datasets."""
    train_df = pd.read_csv(f'{base_path}/train.csv')
    test_df = pd.read_csv(f'{base_path}/test.csv')
    stores_df = pd.read_csv(f'{base_path}/stores.csv')
    transactions_df = pd.read_csv(f'{base_path}/transactions.csv')
    oil_df = pd.read_csv(f'{base_path}/oil.csv')
    holidays_events_df = pd.read_csv(f'{base_path}/holidays_events.csv')
    return train_df, test_df, stores_df, transactions_df, oil_df, holidays_events_df

def preprocess_dates(*dfs):
    """Convert date columns to datetime."""
    for df in dfs:
        if 'date' in df.columns:
            df['date'] = pd.to_datetime(df['date'])

def fill_oil_prices(oil_df):
    """Fill missing oil prices forward then backward."""
    oil_df['dcoilwtico'] = oil_df['dcoilwtico'].ffill().bfill()
    return oil_df

def extract_date_features(df):
    """Extract common datetime features."""
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    df['day'] = df['date'].dt.day
    df['dayofweek'] = df['date'].dt.dayofweek
    df['weekofyear'] = df['date'].dt.isocalendar().week.astype(int)
    df['is_weekend'] = df['dayofweek'].isin([5,6]).astype(int)
    return df

def add_holiday_flag(df, holidays_events_df):
    """Add is_holiday flag based on holidays_events_df."""
    holiday_dates = holidays_events_df['date'].unique()
    df['is_holiday'] = df['date'].isin(holiday_dates).astype(int)
    return df

def merge_external_data(df, holidays_events_df, oil_df, transactions_df, stores_df):
    """Merge all external data on date/store keys and fill missing transaction/oil data."""
    
    # Filter holidays to avoid merge conflicts
    holidays_filtered = holidays_events_df[
        (holidays_events_df['locale'] == 'National') &
        (holidays_events_df['transferred'] == False)
    ].drop_duplicates('date').rename(columns={
        'type': 'holiday_type',
        'locale': 'holiday_locale',
        'locale_name': 'holiday_locale_name',
        'description': 'holiday_description',
        'transferred': 'holiday_transferred'
    })

    # Deduplicate transactions
    transactions_df = transactions_df.drop_duplicates(subset=['date', 'store_nbr'])

    # Rename store column to avoid conflict
    stores_df = stores_df.rename(columns={'type': 'store_type'})

    # Merge all
    df = df.merge(holidays_filtered, on='date', how='left')
    df = df.merge(oil_df[['date', 'dcoilwtico']], on='date', how='left')
    df = df.merge(transactions_df, on=['date', 'store_nbr'], how='left')
    df = df.merge(stores_df, on='store_nbr', how='left')

    # Sort before fill (important for time-based columns)
    df = df.sort_values(['store_nbr', 'date'])

    # Fill forward and backward
    df['transactions'] = df['transactions'].ffill().bfill()
    df['dcoilwtico'] = df['dcoilwtico'].ffill().bfill()

    return df


def fill_missing_and_convert_cats(df, cat_cols):
    """Fill NA with 'Unknown' before converting to categorical dtype."""
    for col in cat_cols:
        if col in df.columns:
            df[col] = df[col].fillna('Unknown')
            df[col] = df[col].astype('category')
    return df

def preprocess_train(train_df, holidays_events_df, oil_df, transactions_df, stores_df, seed=42):
    set_seed(seed)
    
    # Merge external info with renamed columns
    train_df = merge_external_data(train_df, holidays_events_df, oil_df, transactions_df, stores_df)
    
    # Fill missing values before category conversion
    train_df['transactions'] = train_df['transactions'].fillna(0)
    train_df['dcoilwtico'] = train_df['dcoilwtico'].ffill().bfill()
    
    cat_cols = ['holiday_type', 'locale', 'locale_name', 'description', 'city', 'state', 'store_type', 'store_nbr']
    train_df = fill_missing_and_convert_cats(train_df, cat_cols)
    
    # Date features & holiday flag
    train_df = extract_date_features(train_df)
    train_df = add_holiday_flag(train_df, holidays_events_df)
    
    # Label encode 'family'
    le_family = LabelEncoder()
    train_df['family_enc'] = le_family.fit_transform(train_df['family'])
    
    # Sort for lag features
    train_df = train_df.sort_values(['id', 'date'])
    train_df['sales_lag_7'] = train_df.groupby('id')['sales'].shift(7)
    train_df['sales_roll_mean_7'] = train_df.groupby('id')['sales'].transform(lambda x: x.shift(1).rolling(window=7).mean())
    
    # Fill lag/rolling NaNs
    train_df['sales_lag_7'] = train_df['sales_lag_7'].fillna(0)
    train_df['sales_roll_mean_7'] = train_df['sales_roll_mean_7'].fillna(0)
    
    return train_df, le_family

def preprocess_test(test_df, holidays_events_df, oil_df, transactions_df, stores_df, le_family, seed=42):
    set_seed(seed)
    
    # Merge external info with renamed columns
    test_df = merge_external_data(test_df, holidays_events_df, oil_df, transactions_df, stores_df)
    
    # Fill missing values before category conversion
    test_df['transactions'] = test_df['transactions'].fillna(0)
    test_df['dcoilwtico'] = test_df['dcoilwtico'].ffill().bfill()
    
    cat_cols = ['holiday_type', 'locale', 'locale_name', 'description', 'city', 'state', 'store_type', 'store_nbr']
    test_df = fill_missing_and_convert_cats(test_df, cat_cols)
    
    # Date features & holiday flag
    test_df = extract_date_features(test_df)
    test_df = add_holiday_flag(test_df, holidays_events_df)
    
    # Label encode 'family' using existing encoder
    test_df['family_enc'] = le_family.transform(test_df['family'])
    
    # No lag features for test (no sales column)
    return test_df